<ul>
	<li><h2><a href="flights/seat-select">Book a flight</a></h2></li>
	<li><h2><a href="users/view-reservation">View a Reservation</a></h2></li>
	<li><h2><a href="flights/confirmed">View Confirmation</a></h2></li>
</ul>

