<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui"
		/>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<title>Slingshot Airlines</title>
	</head>

	<body>
		<div class="main">
			<header class="header">
				<a href="/"><h1 class="header-logo">Air Slingshot</h1></a>
			</header>
		</div>
		<%- body %>
	</body>
</html>
