<div class="content"></div>

<p class="footer-logo">The only way to fly!</p>

<% if (typeof libs !== 'undefined') { %>
 <% libs.forEach(lib => { %>
	<script src="/js/<%= lib %>.js"></script>
 <% }) %>
<% } %>