<div class="flight-select">
	<label for="flight">Flight Number :</label>
	<select name="flight" id="flight" class="flight">
		<option value="" disabled selected>select a flight</option>
		<option value="SA231">SA231</option>
	</select>
	<button id="show-seats" type="submit" value="Show Seats" hidden>
		Show Seats
	</button>
</div>

<div class="form-container">
	<h2>Select your seat and Provide your information!</h2>
	<form
		id="seats"
		class="content"
		name="salesForm"
		onsubmit="handleConfirmSeat(event)"
	>
		<div class="form-content plane">
			<div id="seats-section"></div>
		</div>
		<div class="form-content user">
			<div class="form-item">
				<label for="givenName">First Name</label>
				<input
					id="givenName"
					type="text"
					name="givenName"
					placeholder="Your first name"
					required
				/>
			</div>
			<div class="form-item">
				<label for="surname">Last Name</label>
				<input
					id="surname"
					type="text"
					name="surname"
					placeholder="Your last name"
					required
				/>
			</div>
			<div class="form-item">
				<label for="email">Email</label>
				<input
					id="email"
					type="email"
					name="email"
					placeholder="Your email"
					required
				/>
			</div>
			<button class="button confirm" id="confirm-button" disabled>
				<div class="lds-dual-ring"></div>
				Confirm<span id="seat-number"></span>
			</button>
		</div>
	</form>
</div>

<script src="seat-select.js" />